USE [master]
GO
/****** Object:  Database [ClubMaster]    Script Date: 08/12/2025 16:48:38 ******/
CREATE DATABASE [ClubMaster]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClubMaster', FILENAME = N'C:\SQLData\ClubMaster.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClubMaster_log', FILENAME = N'C:\SQLData\Logs\ClubMaster_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClubMaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClubMaster]
GO
/****** Object:  User [clubadmin]    Script Date: 08/12/2025 16:48:38 ******/
CREATE USER [clubadmin] FOR LOGIN [clubadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [clubadmin]
GO
/****** Object:  Table [dbo].[PlantillasEstadisticas]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantillasEstadisticas](
	[IdPlantilla] [int] IDENTITY(1,1) NOT NULL,
	[IdDeporte] [int] NOT NULL,
	[NombreCampo] [nvarchar](50) NOT NULL,
	[TipoDato] [nvarchar](20) NOT NULL,
	[EsObligatorio] [bit] NOT NULL,
	[Orden] [int] NOT NULL,
 CONSTRAINT [PK_PlantillasEstadisticas] PRIMARY KEY CLUSTERED 
(
	[IdPlantilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadisticasPartido]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadisticasPartido](
	[IdEstadistica] [int] IDENTITY(1,1) NOT NULL,
	[PartidoId] [int] NOT NULL,
	[ParticipanteId] [int] NOT NULL,
	[Valor] [nvarchar](100) NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[IdPlantilla] [int] NULL,
 CONSTRAINT [PK_EstadisticasPartido] PRIMARY KEY CLUSTERED 
(
	[IdEstadistica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidos]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidos](
	[IdPartido] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[Estado] [int] NOT NULL,
	[ParticipanteAId] [int] NULL,
	[ParticipanteBId] [int] NULL,
	[ArbitroId] [int] NULL,
	[TorneoId] [int] NOT NULL,
	[FixtureIdFixture] [int] NOT NULL,
	[FechaPartido] [date] NULL,
	[HoraPartido] [nvarchar](10) NULL,
	[Lugar] [nvarchar](100) NULL,
	[EstadoPartido] [nvarchar](20) NULL,
	[GanadorId] [int] NULL,
	[EsEmpate] [bit] NOT NULL,
 CONSTRAINT [PK_Partidos] PRIMARY KEY CLUSTERED 
(
	[IdPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcularGanadorPartido]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalcularGanadorPartido]
(
    @PartidoId INT
)
RETURNS TABLE
AS
RETURN
(
    WITH PuntajesPartido AS (
        SELECT 
            e.ParticipanteId,
            CAST(e.Valor AS INT) AS Puntaje
        FROM EstadisticasPartido e
        INNER JOIN PlantillasEstadisticas p ON e.IdPlantilla = p.IdPlantilla
        WHERE e.PartidoId = @PartidoId
          AND p.Orden = 1  -- El primer campo de estadísticas es el puntaje
    ),
    Participantes AS (
        SELECT 
            ParticipanteAId,
            ParticipanteBId
        FROM Partidos
        WHERE IdPartido = @PartidoId
    )
    SELECT 
        CASE 
            WHEN pa.Puntaje > pb.Puntaje THEN p.ParticipanteAId
            WHEN pb.Puntaje > pa.Puntaje THEN p.ParticipanteBId
            ELSE NULL
        END AS GanadorId,
        CASE 
            WHEN pa.Puntaje = pb.Puntaje THEN CAST(1 AS BIT)
            ELSE CAST(0 AS BIT)
        END AS EsEmpate,
        pa.Puntaje AS PuntajeA,
        pb.Puntaje AS PuntajeB
    FROM Participantes p
    LEFT JOIN PuntajesPartido pa ON pa.ParticipanteId = p.ParticipanteAId
    LEFT JOIN PuntajesPartido pb ON pb.ParticipanteId = p.ParticipanteBId
);
GO
/****** Object:  Table [dbo].[Administradores]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administradores](
	[IdAdministrador] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NOT NULL,
	[AreaResponsable] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdministrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArbitroDeportes]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArbitroDeportes](
	[ArbitroId] [int] NOT NULL,
	[DeporteId] [int] NOT NULL,
 CONSTRAINT [PK_ArbitroDeportes] PRIMARY KEY CLUSTERED 
(
	[ArbitroId] ASC,
	[DeporteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Arbitros]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arbitros](
	[IdArbitro] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NULL,
	[Estado] [int] NOT NULL,
	[Tarifa] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Arbitros] PRIMARY KEY CLUSTERED 
(
	[IdArbitro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comprobantes]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobantes](
	[IdComprobante] [int] IDENTITY(1,1) NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[MontoPagado] [decimal](10, 2) NOT NULL,
	[MedioPago] [nvarchar](40) NOT NULL,
	[CuotaId] [int] NOT NULL,
	[SocioIdSocio] [int] NULL,
 CONSTRAINT [PK_Comprobantes] PRIMARY KEY CLUSTERED 
(
	[IdComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuotas]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuotas](
	[IdCuota] [int] IDENTITY(1,1) NOT NULL,
	[Mes] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Estado] [int] NOT NULL,
	[FechaVencimiento] [datetime2](7) NOT NULL,
	[FechaPago] [datetime2](7) NULL,
	[Recargo] [decimal](10, 2) NULL,
	[SocioId] [int] NOT NULL,
	[MetodoPago] [nvarchar](50) NULL,
	[NumeroTransaccion] [nvarchar](100) NULL,
 CONSTRAINT [PK_Cuotas] PRIMARY KEY CLUSTERED 
(
	[IdCuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deportes]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deportes](
	[IdDeporte] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](80) NOT NULL,
	[MaxParticipantes] [int] NOT NULL,
 CONSTRAINT [PK_Deportes] PRIMARY KEY CLUSTERED 
(
	[IdDeporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisponibilidadArbitro]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisponibilidadArbitro](
	[IdDisponibilidad] [int] IDENTITY(1,1) NOT NULL,
	[IdArbitro] [int] NULL,
	[DiaSemana] [nvarchar](50) NULL,
	[HoraInicio] [time](7) NULL,
	[HoraFin] [time](7) NULL,
 CONSTRAINT [PK__Disponib__AE82DB17EACB501A] PRIMARY KEY CLUSTERED 
(
	[IdDisponibilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[IdEquipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CapitanId] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NULL,
	[IdDeporte] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturacionArbitros]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturacionArbitros](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdArbitro] [int] NOT NULL,
	[IdPartido] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Estado] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaPago] [datetime2](7) NULL,
	[MetodoPago] [nvarchar](50) NULL,
 CONSTRAINT [PK_FacturacionArbitros] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilasPos]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilasPos](
	[IdFila] [int] IDENTITY(1,1) NOT NULL,
	[ParticipanteId] [int] NOT NULL,
	[Puntos] [int] NOT NULL,
	[Jugados] [int] NOT NULL,
	[Ganados] [int] NOT NULL,
	[Empatados] [int] NOT NULL,
	[Perdidos] [int] NOT NULL,
	[TablaPosicionesIdTabla] [int] NULL,
 CONSTRAINT [PK_FilasPos] PRIMARY KEY CLUSTERED 
(
	[IdFila] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fixtures]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fixtures](
	[IdFixture] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [int] NOT NULL,
	[TorneoId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[NumeroRonda] [int] NULL,
	[Grupo] [nvarchar](10) NULL,
	[FechaInicio] [datetime2](7) NULL,
	[FechaFin] [datetime2](7) NULL,
 CONSTRAINT [PK_Fixtures] PRIMARY KEY CLUSTERED 
(
	[IdFixture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntegrantesEquipo]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegrantesEquipo](
	[IdIntegrante] [int] IDENTITY(1,1) NOT NULL,
	[EquipoId] [int] NOT NULL,
	[SocioId] [int] NOT NULL,
	[FechaIngreso] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIntegrante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participantes]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participantes](
	[IdParticipante] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[EsEquipo] [bit] NOT NULL,
	[TorneoId] [int] NOT NULL,
	[SocioId] [int] NULL,
	[EquipoId] [int] NULL,
 CONSTRAINT [PK_Participantes] PRIMARY KEY CLUSTERED 
(
	[IdParticipante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Apellido] [nvarchar](120) NULL,
	[Dni] [nvarchar](15) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[FechaRegistro] [datetime2](7) NULL,
 CONSTRAINT [PK__Persona__2EC8D2AC23E1C38B] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[EstadoRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesPermisos]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesPermisos](
	[IdRolesPermiso] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
	[FechaAsignacion] [datetime] NOT NULL,
	[EstadoPermiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRolesPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesRoles]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesRoles](
	[IdRolesRoles] [int] IDENTITY(1,1) NOT NULL,
	[PadreRolId] [int] NOT NULL,
	[HijoRolId] [int] NOT NULL,
	[TipoRelacion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRolesRoles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socios]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socios](
	[IdSocio] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [int] NOT NULL,
	[TipoMembresiaId] [int] NOT NULL,
	[UsuarioId] [int] NULL,
	[IdPersona] [int] NULL,
 CONSTRAINT [PK_Socios] PRIMARY KEY CLUSTERED 
(
	[IdSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablasPos]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablasPos](
	[IdTabla] [int] IDENTITY(1,1) NOT NULL,
	[TorneoId] [int] NOT NULL,
 CONSTRAINT [PK_TablasPos] PRIMARY KEY CLUSTERED 
(
	[IdTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposMembresia]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposMembresia](
	[IdTipo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](60) NOT NULL,
	[MontoMensual] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_TiposMembresia] PRIMARY KEY CLUSTERED 
(
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneos]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneos](
	[IdTorneo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[Estado] [int] NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[MaxParticipantes] [int] NULL,
	[FechaFin] [datetime] NULL,
	[PremioGanador] [nvarchar](255) NULL,
	[IdDeporte] [int] NOT NULL,
	[TipoTorneo] [int] NULL,
 CONSTRAINT [PK_Torneos] PRIMARY KEY CLUSTERED 
(
	[IdTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[ContrasenaHash] [nvarchar](120) NOT NULL,
	[IdPersona] [int] NULL,
	[IdRol] [int] NULL,
	[EstadoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administradores] ON 

INSERT [dbo].[Administradores] ([IdAdministrador], [IdPersona], [AreaResponsable]) VALUES (1, 11, N'General')
SET IDENTITY_INSERT [dbo].[Administradores] OFF
GO
INSERT [dbo].[ArbitroDeportes] ([ArbitroId], [DeporteId]) VALUES (1, 1)
INSERT [dbo].[ArbitroDeportes] ([ArbitroId], [DeporteId]) VALUES (3, 1)
INSERT [dbo].[ArbitroDeportes] ([ArbitroId], [DeporteId]) VALUES (1, 2)
GO
SET IDENTITY_INSERT [dbo].[Arbitros] ON 

INSERT [dbo].[Arbitros] ([IdArbitro], [IdPersona], [Estado], [Tarifa]) VALUES (1, 9, 1, CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[Arbitros] ([IdArbitro], [IdPersona], [Estado], [Tarifa]) VALUES (2, 10, 1, CAST(36500.00 AS Decimal(10, 2)))
INSERT [dbo].[Arbitros] ([IdArbitro], [IdPersona], [Estado], [Tarifa]) VALUES (3, 14, 1, CAST(50000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Arbitros] OFF
GO
SET IDENTITY_INSERT [dbo].[Cuotas] ON 

INSERT [dbo].[Cuotas] ([IdCuota], [Mes], [Anio], [Monto], [Estado], [FechaVencimiento], [FechaPago], [Recargo], [SocioId], [MetodoPago], [NumeroTransaccion]) VALUES (1, 7, 2025, CAST(25000.00 AS Decimal(10, 2)), 1, CAST(N'2025-07-31T03:00:00.0000000' AS DateTime2), CAST(N'2025-08-19T12:55:15.6060000' AS DateTime2), CAST(0.00 AS Decimal(10, 2)), 1, NULL, NULL)
INSERT [dbo].[Cuotas] ([IdCuota], [Mes], [Anio], [Monto], [Estado], [FechaVencimiento], [FechaPago], [Recargo], [SocioId], [MetodoPago], [NumeroTransaccion]) VALUES (2, 7, 2025, CAST(25000.00 AS Decimal(10, 2)), 1, CAST(N'2025-07-31T03:00:00.0000000' AS DateTime2), CAST(N'2025-11-04T00:07:21.6130000' AS DateTime2), CAST(0.00 AS Decimal(10, 2)), 2, N'efectivo', NULL)
INSERT [dbo].[Cuotas] ([IdCuota], [Mes], [Anio], [Monto], [Estado], [FechaVencimiento], [FechaPago], [Recargo], [SocioId], [MetodoPago], [NumeroTransaccion]) VALUES (3, 7, 2025, CAST(35000.00 AS Decimal(10, 2)), 1, CAST(N'2025-07-31T03:00:00.0000000' AS DateTime2), CAST(N'2025-09-09T20:21:15.0640000' AS DateTime2), CAST(0.00 AS Decimal(10, 2)), 3, N'efectivo', NULL)
SET IDENTITY_INSERT [dbo].[Cuotas] OFF
GO
SET IDENTITY_INSERT [dbo].[Deportes] ON 

INSERT [dbo].[Deportes] ([IdDeporte], [Nombre], [MaxParticipantes]) VALUES (1, N'Fútbol', 22)
INSERT [dbo].[Deportes] ([IdDeporte], [Nombre], [MaxParticipantes]) VALUES (2, N'Básquet', 10)
INSERT [dbo].[Deportes] ([IdDeporte], [Nombre], [MaxParticipantes]) VALUES (3, N'Tenis', 2)
SET IDENTITY_INSERT [dbo].[Deportes] OFF
GO
SET IDENTITY_INSERT [dbo].[DisponibilidadArbitro] ON 

INSERT [dbo].[DisponibilidadArbitro] ([IdDisponibilidad], [IdArbitro], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (1, 1, N'Lunes', CAST(N'18:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[DisponibilidadArbitro] ([IdDisponibilidad], [IdArbitro], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (2, 1, N'Martes', CAST(N'18:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[DisponibilidadArbitro] ([IdDisponibilidad], [IdArbitro], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (3, 1, N'Miercoles', CAST(N'18:00:00' AS Time), CAST(N'22:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[DisponibilidadArbitro] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([IdEquipo], [Nombre], [CapitanId], [FechaCreacion], [IdDeporte]) VALUES (3, N'Test Juan', 1, CAST(N'2025-08-22T18:47:06.5840000' AS DateTime2), 3)
INSERT [dbo].[Equipos] ([IdEquipo], [Nombre], [CapitanId], [FechaCreacion], [IdDeporte]) VALUES (4, N'Test Carlos', 1, CAST(N'2025-08-25T19:05:32.4600000' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[Equipos] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadisticasPartido] ON 

INSERT [dbo].[EstadisticasPartido] ([IdEstadistica], [PartidoId], [ParticipanteId], [Valor], [FechaRegistro], [IdPlantilla]) VALUES (1, 10, 24, N'2', CAST(N'2025-11-20T14:14:32.3511750' AS DateTime2), 11)
INSERT [dbo].[EstadisticasPartido] ([IdEstadistica], [PartidoId], [ParticipanteId], [Valor], [FechaRegistro], [IdPlantilla]) VALUES (2, 10, 24, N'12', CAST(N'2025-11-20T14:14:32.4511758' AS DateTime2), 12)
INSERT [dbo].[EstadisticasPartido] ([IdEstadistica], [PartidoId], [ParticipanteId], [Valor], [FechaRegistro], [IdPlantilla]) VALUES (3, 10, 24, N'3', CAST(N'2025-11-20T14:14:32.4681745' AS DateTime2), 13)
SET IDENTITY_INSERT [dbo].[EstadisticasPartido] OFF
GO
SET IDENTITY_INSERT [dbo].[FacturacionArbitros] ON 

INSERT [dbo].[FacturacionArbitros] ([IdFactura], [IdArbitro], [IdPartido], [Monto], [Estado], [FechaCreacion], [FechaPago], [MetodoPago]) VALUES (1, 2, 420, CAST(36500.00 AS Decimal(10, 2)), 0, CAST(N'2025-11-19T18:44:04.1066667' AS DateTime2), NULL, NULL)
INSERT [dbo].[FacturacionArbitros] ([IdFactura], [IdArbitro], [IdPartido], [Monto], [Estado], [FechaCreacion], [FechaPago], [MetodoPago]) VALUES (2, 3, 10, CAST(50000.00 AS Decimal(10, 2)), 2, CAST(N'2025-11-20T13:55:05.5566667' AS DateTime2), CAST(N'2025-11-27T19:15:01.0166667' AS DateTime2), N'Efectivo')
INSERT [dbo].[FacturacionArbitros] ([IdFactura], [IdArbitro], [IdPartido], [Monto], [Estado], [FechaCreacion], [FechaPago], [MetodoPago]) VALUES (3, 3, 419, CAST(50000.00 AS Decimal(10, 2)), 0, CAST(N'2025-11-27T19:32:45.6000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[FacturacionArbitros] OFF
GO
SET IDENTITY_INSERT [dbo].[Fixtures] ON 

INSERT [dbo].[Fixtures] ([IdFixture], [Tipo], [TorneoId], [Nombre], [NumeroRonda], [Grupo], [FechaInicio], [FechaFin]) VALUES (1, 1, 2, N'Final', 1, NULL, CAST(N'2025-10-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Fixtures] ([IdFixture], [Tipo], [TorneoId], [Nombre], [NumeroRonda], [Grupo], [FechaInicio], [FechaFin]) VALUES (64, 1, 4, N'Octavos de Final', 1, NULL, NULL, NULL)
INSERT [dbo].[Fixtures] ([IdFixture], [Tipo], [TorneoId], [Nombre], [NumeroRonda], [Grupo], [FechaInicio], [FechaFin]) VALUES (65, 1, 4, N'Cuartos de Final', 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Fixtures] OFF
GO
SET IDENTITY_INSERT [dbo].[IntegrantesEquipo] ON 

INSERT [dbo].[IntegrantesEquipo] ([IdIntegrante], [EquipoId], [SocioId], [FechaIngreso]) VALUES (7, 3, 1, CAST(N'2025-08-22T18:47:12.6670000' AS DateTime2))
INSERT [dbo].[IntegrantesEquipo] ([IdIntegrante], [EquipoId], [SocioId], [FechaIngreso]) VALUES (8, 4, 3, CAST(N'2025-08-25T19:05:42.2250000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[IntegrantesEquipo] OFF
GO
SET IDENTITY_INSERT [dbo].[Participantes] ON 

INSERT [dbo].[Participantes] ([IdParticipante], [Nombre], [EsEquipo], [TorneoId], [SocioId], [EquipoId]) VALUES (17, N'Test Carlos', 1, 2, NULL, 4)
INSERT [dbo].[Participantes] ([IdParticipante], [Nombre], [EsEquipo], [TorneoId], [SocioId], [EquipoId]) VALUES (24, N'Juan Pérez', 0, 2, 1, NULL)
INSERT [dbo].[Participantes] ([IdParticipante], [Nombre], [EsEquipo], [TorneoId], [SocioId], [EquipoId]) VALUES (25, N'Juan  Pérez', 0, 4, 1, NULL)
SET IDENTITY_INSERT [dbo].[Participantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Partidos] ON 

INSERT [dbo].[Partidos] ([IdPartido], [FechaHora], [Estado], [ParticipanteAId], [ParticipanteBId], [ArbitroId], [TorneoId], [FixtureIdFixture], [FechaPartido], [HoraPartido], [Lugar], [EstadoPartido], [GanadorId], [EsEmpate]) VALUES (10, CAST(N'2025-08-09T18:00:00.0000000' AS DateTime2), 2, 24, 17, 3, 2, 1, CAST(N'2025-12-26' AS Date), N'13:54', N'Cancha Principal', N'finalizado', 24, 0)
INSERT [dbo].[Partidos] ([IdPartido], [FechaHora], [Estado], [ParticipanteAId], [ParticipanteBId], [ArbitroId], [TorneoId], [FixtureIdFixture], [FechaPartido], [HoraPartido], [Lugar], [EstadoPartido], [GanadorId], [EsEmpate]) VALUES (413, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), 0, 41, 27, NULL, 4, 64, NULL, NULL, N'Por definir', N'Programado', NULL, 0)
INSERT [dbo].[Partidos] ([IdPartido], [FechaHora], [Estado], [ParticipanteAId], [ParticipanteBId], [ArbitroId], [TorneoId], [FixtureIdFixture], [FechaPartido], [HoraPartido], [Lugar], [EstadoPartido], [GanadorId], [EsEmpate]) VALUES (414, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), 0, 25, 31, NULL, 4, 64, NULL, NULL, N'Por definir', N'Programado', NULL, 0)
SET IDENTITY_INSERT [dbo].[Partidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Permisos] ON 

INSERT [dbo].[Permisos] ([IdPermiso], [Nombre], [Descripcion]) VALUES (1, N'GESTION_USUARIOS', N'Acceso a la gestión de usuarios')
INSERT [dbo].[Permisos] ([IdPermiso], [Nombre], [Descripcion]) VALUES (2, N'GESTION_SOCIOS', N'Administrar socios del club')
INSERT [dbo].[Permisos] ([IdPermiso], [Nombre], [Descripcion]) VALUES (3, N'GESTION_CUOTAS', N'Control de cuotas y pagos')
SET IDENTITY_INSERT [dbo].[Permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Personas] ON 

INSERT [dbo].[Personas] ([IdPersona], [Nombre], [Apellido], [Dni], [Telefono], [Mail], [FechaRegistro]) VALUES (1, N'Juan ', N'Pérez', N'12345678', N'1234567890', N'juan.perez@email.com', CAST(N'2025-01-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Personas] ([IdPersona], [Nombre], [Apellido], [Dni], [Telefono], [Mail], [FechaRegistro]) VALUES (2, N'María', N'García', N'87654321', N'0987654321', N'maria.garcia@email.com', CAST(N'2025-01-22T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Personas] ([IdPersona], [Nombre], [Apellido], [Dni], [Telefono], [Mail], [FechaRegistro]) VALUES (3, N'Carlos', N'López', N'11223344', N'1122334455', N'carlos.lopez@email.com', CAST(N'2025-02-05T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Personas] OFF
GO
SET IDENTITY_INSERT [dbo].[PlantillasEstadisticas] ON 

INSERT [dbo].[PlantillasEstadisticas] ([IdPlantilla], [IdDeporte], [NombreCampo], [TipoDato], [EsObligatorio], [Orden]) VALUES (1, 1, N'Goles', N'int', 1, 1)
INSERT [dbo].[PlantillasEstadisticas] ([IdPlantilla], [IdDeporte], [NombreCampo], [TipoDato], [EsObligatorio], [Orden]) VALUES (2, 1, N'Asistencias', N'int', 0, 2)
INSERT [dbo].[PlantillasEstadisticas] ([IdPlantilla], [IdDeporte], [NombreCampo], [TipoDato], [EsObligatorio], [Orden]) VALUES (3, 1, N'Tarjetas Amarillas', N'int', 0, 3)
SET IDENTITY_INSERT [dbo].[PlantillasEstadisticas] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [Nombre], [Descripcion], [EstadoRol]) VALUES (1, N'Administrador General', N'Control total del sistema', 1)
INSERT [dbo].[Roles] ([IdRol], [Nombre], [Descripcion], [EstadoRol]) VALUES (2, N'Socio', N'Socio de el Club', 1)
INSERT [dbo].[Roles] ([IdRol], [Nombre], [Descripcion], [EstadoRol]) VALUES (3, N'Árbitro', N'Arbitro de Partidos', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[RolesPermisos] ON 

INSERT [dbo].[RolesPermisos] ([IdRolesPermiso], [IdRol], [IdPermiso], [FechaAsignacion], [EstadoPermiso]) VALUES (32, 3, 12, CAST(N'2025-09-12T17:26:06.047' AS DateTime), 1)
INSERT [dbo].[RolesPermisos] ([IdRolesPermiso], [IdRol], [IdPermiso], [FechaAsignacion], [EstadoPermiso]) VALUES (33, 3, 13, CAST(N'2025-09-12T17:26:06.050' AS DateTime), 1)
INSERT [dbo].[RolesPermisos] ([IdRolesPermiso], [IdRol], [IdPermiso], [FechaAsignacion], [EstadoPermiso]) VALUES (34, 3, 14, CAST(N'2025-09-12T17:26:06.053' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RolesPermisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Socios] ON 

INSERT [dbo].[Socios] ([IdSocio], [Estado], [TipoMembresiaId], [UsuarioId], [IdPersona]) VALUES (1, 1, 2, 2, 1)
INSERT [dbo].[Socios] ([IdSocio], [Estado], [TipoMembresiaId], [UsuarioId], [IdPersona]) VALUES (2, 1, 2, NULL, 2)
INSERT [dbo].[Socios] ([IdSocio], [Estado], [TipoMembresiaId], [UsuarioId], [IdPersona]) VALUES (3, 1, 3, NULL, 3)
SET IDENTITY_INSERT [dbo].[Socios] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposMembresia] ON 

INSERT [dbo].[TiposMembresia] ([IdTipo], [Descripcion], [MontoMensual]) VALUES (1, N'Básica', CAST(15000.00 AS Decimal(10, 2)))
INSERT [dbo].[TiposMembresia] ([IdTipo], [Descripcion], [MontoMensual]) VALUES (2, N'Premium', CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[TiposMembresia] ([IdTipo], [Descripcion], [MontoMensual]) VALUES (3, N'Familiar', CAST(35000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[TiposMembresia] OFF
GO
SET IDENTITY_INSERT [dbo].[Torneos] ON 

INSERT [dbo].[Torneos] ([IdTorneo], [Nombre], [FechaInicio], [Estado], [Descripcion], [MaxParticipantes], [FechaFin], [PremioGanador], [IdDeporte], [TipoTorneo]) VALUES (1, N'Copa de Verano 2025', CAST(N'2025-02-01T00:00:00.0000000' AS DateTime2), 2, NULL, NULL, NULL, NULL, 1, 0)
INSERT [dbo].[Torneos] ([IdTorneo], [Nombre], [FechaInicio], [Estado], [Descripcion], [MaxParticipantes], [FechaFin], [PremioGanador], [IdDeporte], [TipoTorneo]) VALUES (2, N'Copa Tenis Final 2025', CAST(N'2025-08-10T00:00:00.0000000' AS DateTime2), 0, N'Test 1', 2, CAST(N'2030-01-01T00:00:00.000' AS DateTime), N'$10', 3, 0)
INSERT [dbo].[Torneos] ([IdTorneo], [Nombre], [FechaInicio], [Estado], [Descripcion], [MaxParticipantes], [FechaFin], [PremioGanador], [IdDeporte], [TipoTorneo]) VALUES (3, N'test', CAST(N'2025-09-10T00:00:00.0000000' AS DateTime2), 3, N'a', 10, CAST(N'2026-06-20T00:00:00.000' AS DateTime), N'9999', 2, 0)
SET IDENTITY_INSERT [dbo].[Torneos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Email], [ContrasenaHash], [IdPersona], [IdRol], [EstadoUsuario]) VALUES (1, N'admin@clubmaster.com', N'$2b$10$IpfIBYanBg7kjn3lNSi4j.VhCukY3OsNLxQme6c1eCjcGASRjcNCu', 11, 1, 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [Email], [ContrasenaHash], [IdPersona], [IdRol], [EstadoUsuario]) VALUES (2, N'juan.perez@email.com', N'$2b$10$jdM1di1ZhryvjJfUf44eDe/.tMKKUP.sZfhQPEy8DwExMPW2tCbpa', 1, 2, 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [Email], [ContrasenaHash], [IdPersona], [IdRol], [EstadoUsuario]) VALUES (4, N'tesorero@clubmaster.com', N'$2b$10$nc2Z9KfdxPykmNXoRp1iMO2SVzuTqwkBMIyxaKaasOUL7gJVnbhy2', 12, 4, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [IX_ArbitroDeportes_DeporteId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_ArbitroDeportes_DeporteId] ON [dbo].[ArbitroDeportes]
(
	[DeporteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comprobantes_CuotaId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Comprobantes_CuotaId] ON [dbo].[Comprobantes]
(
	[CuotaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comprobantes_SocioIdSocio]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Comprobantes_SocioIdSocio] ON [dbo].[Comprobantes]
(
	[SocioIdSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cuotas_SocioId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Cuotas_SocioId] ON [dbo].[Cuotas]
(
	[SocioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstadisticasPartido_PartidoId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_EstadisticasPartido_PartidoId] ON [dbo].[EstadisticasPartido]
(
	[PartidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FacturacionArbitros_Estado]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_FacturacionArbitros_Estado] ON [dbo].[FacturacionArbitros]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FacturacionArbitros_IdArbitro]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_FacturacionArbitros_IdArbitro] ON [dbo].[FacturacionArbitros]
(
	[IdArbitro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FacturacionArbitros_IdPartido]    Script Date: 08/12/2025 16:48:39 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FacturacionArbitros_IdPartido] ON [dbo].[FacturacionArbitros]
(
	[IdPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilasPos_ParticipanteId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_FilasPos_ParticipanteId] ON [dbo].[FilasPos]
(
	[ParticipanteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilasPos_TablaPosicionesIdTabla]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_FilasPos_TablaPosicionesIdTabla] ON [dbo].[FilasPos]
(
	[TablaPosicionesIdTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Fixtures_Grupo]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Fixtures_Grupo] ON [dbo].[Fixtures]
(
	[Grupo] ASC
)
WHERE ([Grupo] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fixtures_TorneoId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Fixtures_TorneoId] ON [dbo].[Fixtures]
(
	[TorneoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fixtures_TorneoId_NumeroRonda]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Fixtures_TorneoId_NumeroRonda] ON [dbo].[Fixtures]
(
	[TorneoId] ASC,
	[NumeroRonda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Integran__6FEFDB55497C0398]    Script Date: 08/12/2025 16:48:39 ******/
ALTER TABLE [dbo].[IntegrantesEquipo] ADD UNIQUE NONCLUSTERED 
(
	[EquipoId] ASC,
	[SocioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Participantes_SocioId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Participantes_SocioId] ON [dbo].[Participantes]
(
	[SocioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Participantes_TorneoId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Participantes_TorneoId] ON [dbo].[Participantes]
(
	[TorneoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_ArbitroId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_ArbitroId] ON [dbo].[Partidos]
(
	[ArbitroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_FechaPartido]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_FechaPartido] ON [dbo].[Partidos]
(
	[FechaPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_FixtureIdFixture]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_FixtureIdFixture] ON [dbo].[Partidos]
(
	[FixtureIdFixture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_GanadorId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_GanadorId] ON [dbo].[Partidos]
(
	[GanadorId] ASC
)
WHERE ([GanadorId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_ParticipanteAId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_ParticipanteAId] ON [dbo].[Partidos]
(
	[ParticipanteAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_ParticipanteBId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_ParticipanteBId] ON [dbo].[Partidos]
(
	[ParticipanteBId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_TorneoId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_TorneoId] ON [dbo].[Partidos]
(
	[TorneoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Socios_TipoMembresiaId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Socios_TipoMembresiaId] ON [dbo].[Socios]
(
	[TipoMembresiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TablasPos_TorneoId]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_TablasPos_TorneoId] ON [dbo].[TablasPos]
(
	[TorneoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Torneos_TipoTorneo]    Script Date: 08/12/2025 16:48:39 ******/
CREATE NONCLUSTERED INDEX [IX_Torneos_TipoTorneo] ON [dbo].[Torneos]
(
	[TipoTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_IdPersona_Email]    Script Date: 08/12/2025 16:48:39 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_IdPersona_Email] UNIQUE NONCLUSTERED 
(
	[IdPersona] ASC,
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Arbitros] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Equipos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[EstadisticasPartido] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[FacturacionArbitros] ADD  CONSTRAINT [DF_FacturacionArbitros_Estado]  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[FacturacionArbitros] ADD  CONSTRAINT [DF_FacturacionArbitros_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Fixtures] ADD  CONSTRAINT [DF_Fixtures_NumeroRonda]  DEFAULT ((1)) FOR [NumeroRonda]
GO
ALTER TABLE [dbo].[IntegrantesEquipo] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[Partidos] ADD  DEFAULT ('Programado') FOR [EstadoPartido]
GO
ALTER TABLE [dbo].[Partidos] ADD  DEFAULT ((0)) FOR [EsEmpate]
GO
ALTER TABLE [dbo].[PlantillasEstadisticas] ADD  DEFAULT ((0)) FOR [EsObligatorio]
GO
ALTER TABLE [dbo].[PlantillasEstadisticas] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [EstadoRol]
GO
ALTER TABLE [dbo].[RolesPermisos] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[RolesPermisos] ADD  DEFAULT ((1)) FOR [EstadoPermiso]
GO
ALTER TABLE [dbo].[Socios] ADD  CONSTRAINT [DF_Socios_TipoMembresiaId]  DEFAULT ((1)) FOR [TipoMembresiaId]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [EstadoUsuario]
GO
ALTER TABLE [dbo].[Administradores]  WITH CHECK ADD  CONSTRAINT [FK__Administr__IdPer__04AFB25B] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([IdPersona])
GO
ALTER TABLE [dbo].[Administradores] CHECK CONSTRAINT [FK__Administr__IdPer__04AFB25B]
GO
ALTER TABLE [dbo].[ArbitroDeportes]  WITH CHECK ADD  CONSTRAINT [FK_ArbitroDeportes_Arbitros_ArbitroId] FOREIGN KEY([ArbitroId])
REFERENCES [dbo].[Arbitros] ([IdArbitro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArbitroDeportes] CHECK CONSTRAINT [FK_ArbitroDeportes_Arbitros_ArbitroId]
GO
ALTER TABLE [dbo].[ArbitroDeportes]  WITH CHECK ADD  CONSTRAINT [FK_ArbitroDeportes_Deportes_DeporteId] FOREIGN KEY([DeporteId])
REFERENCES [dbo].[Deportes] ([IdDeporte])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArbitroDeportes] CHECK CONSTRAINT [FK_ArbitroDeportes_Deportes_DeporteId]
GO
ALTER TABLE [dbo].[Arbitros]  WITH CHECK ADD  CONSTRAINT [FK__Arbitros__IdPers__0880433F] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([IdPersona])
GO
ALTER TABLE [dbo].[Arbitros] CHECK CONSTRAINT [FK__Arbitros__IdPers__0880433F]
GO
ALTER TABLE [dbo].[Arbitros]  WITH CHECK ADD  CONSTRAINT [FK_Arbitros_Personas_IdPersona] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([IdPersona])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Arbitros] CHECK CONSTRAINT [FK_Arbitros_Personas_IdPersona]
GO
ALTER TABLE [dbo].[Comprobantes]  WITH CHECK ADD  CONSTRAINT [FK_Comprobantes_Cuotas_CuotaId] FOREIGN KEY([CuotaId])
REFERENCES [dbo].[Cuotas] ([IdCuota])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comprobantes] CHECK CONSTRAINT [FK_Comprobantes_Cuotas_CuotaId]
GO
ALTER TABLE [dbo].[Comprobantes]  WITH CHECK ADD  CONSTRAINT [FK_Comprobantes_Socios_SocioIdSocio] FOREIGN KEY([SocioIdSocio])
REFERENCES [dbo].[Socios] ([IdSocio])
GO
ALTER TABLE [dbo].[Comprobantes] CHECK CONSTRAINT [FK_Comprobantes_Socios_SocioIdSocio]
GO
ALTER TABLE [dbo].[Cuotas]  WITH CHECK ADD  CONSTRAINT [FK_Cuotas_Socios_SocioId] FOREIGN KEY([SocioId])
REFERENCES [dbo].[Socios] ([IdSocio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cuotas] CHECK CONSTRAINT [FK_Cuotas_Socios_SocioId]
GO
ALTER TABLE [dbo].[DisponibilidadArbitro]  WITH CHECK ADD  CONSTRAINT [FK__Disponibi__IdArb__0B5CAFEA] FOREIGN KEY([IdArbitro])
REFERENCES [dbo].[Arbitros] ([IdArbitro])
GO
ALTER TABLE [dbo].[DisponibilidadArbitro] CHECK CONSTRAINT [FK__Disponibi__IdArb__0B5CAFEA]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD FOREIGN KEY([CapitanId])
REFERENCES [dbo].[Socios] ([IdSocio])
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Deportes] FOREIGN KEY([IdDeporte])
REFERENCES [dbo].[Deportes] ([IdDeporte])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_Deportes]
GO
ALTER TABLE [dbo].[EstadisticasPartido]  WITH CHECK ADD  CONSTRAINT [FK_EstadisticasPartido_Participantes] FOREIGN KEY([ParticipanteId])
REFERENCES [dbo].[Participantes] ([IdParticipante])
GO
ALTER TABLE [dbo].[EstadisticasPartido] CHECK CONSTRAINT [FK_EstadisticasPartido_Participantes]
GO
ALTER TABLE [dbo].[EstadisticasPartido]  WITH CHECK ADD  CONSTRAINT [FK_EstadisticasPartido_Partidos] FOREIGN KEY([PartidoId])
REFERENCES [dbo].[Partidos] ([IdPartido])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EstadisticasPartido] CHECK CONSTRAINT [FK_EstadisticasPartido_Partidos]
GO
ALTER TABLE [dbo].[EstadisticasPartido]  WITH CHECK ADD  CONSTRAINT [FK_EstadisticasPartido_PlantillasEstadisticas] FOREIGN KEY([IdPlantilla])
REFERENCES [dbo].[PlantillasEstadisticas] ([IdPlantilla])
GO
ALTER TABLE [dbo].[EstadisticasPartido] CHECK CONSTRAINT [FK_EstadisticasPartido_PlantillasEstadisticas]
GO
ALTER TABLE [dbo].[FacturacionArbitros]  WITH CHECK ADD  CONSTRAINT [FK_FacturacionArbitros_Arbitros] FOREIGN KEY([IdArbitro])
REFERENCES [dbo].[Arbitros] ([IdArbitro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacturacionArbitros] CHECK CONSTRAINT [FK_FacturacionArbitros_Arbitros]
GO
ALTER TABLE [dbo].[FacturacionArbitros]  WITH CHECK ADD  CONSTRAINT [FK_FacturacionArbitros_Partidos] FOREIGN KEY([IdPartido])
REFERENCES [dbo].[Partidos] ([IdPartido])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FacturacionArbitros] CHECK CONSTRAINT [FK_FacturacionArbitros_Partidos]
GO
ALTER TABLE [dbo].[FilasPos]  WITH CHECK ADD  CONSTRAINT [FK_FilasPos_Participantes_ParticipanteId] FOREIGN KEY([ParticipanteId])
REFERENCES [dbo].[Participantes] ([IdParticipante])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilasPos] CHECK CONSTRAINT [FK_FilasPos_Participantes_ParticipanteId]
GO
ALTER TABLE [dbo].[FilasPos]  WITH CHECK ADD  CONSTRAINT [FK_FilasPos_TablasPos_TablaPosicionesIdTabla] FOREIGN KEY([TablaPosicionesIdTabla])
REFERENCES [dbo].[TablasPos] ([IdTabla])
GO
ALTER TABLE [dbo].[FilasPos] CHECK CONSTRAINT [FK_FilasPos_TablasPos_TablaPosicionesIdTabla]
GO
ALTER TABLE [dbo].[Fixtures]  WITH CHECK ADD  CONSTRAINT [FK_Fixtures_Torneos_TorneoId] FOREIGN KEY([TorneoId])
REFERENCES [dbo].[Torneos] ([IdTorneo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fixtures] CHECK CONSTRAINT [FK_Fixtures_Torneos_TorneoId]
GO
ALTER TABLE [dbo].[IntegrantesEquipo]  WITH CHECK ADD FOREIGN KEY([EquipoId])
REFERENCES [dbo].[Equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[IntegrantesEquipo]  WITH CHECK ADD FOREIGN KEY([SocioId])
REFERENCES [dbo].[Socios] ([IdSocio])
GO
ALTER TABLE [dbo].[Participantes]  WITH CHECK ADD  CONSTRAINT [FK_Participantes_Equipos] FOREIGN KEY([EquipoId])
REFERENCES [dbo].[Equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[Participantes] CHECK CONSTRAINT [FK_Participantes_Equipos]
GO
ALTER TABLE [dbo].[Participantes]  WITH CHECK ADD  CONSTRAINT [FK_Participantes_Socios_SocioId] FOREIGN KEY([SocioId])
REFERENCES [dbo].[Socios] ([IdSocio])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Participantes] CHECK CONSTRAINT [FK_Participantes_Socios_SocioId]
GO
ALTER TABLE [dbo].[Participantes]  WITH CHECK ADD  CONSTRAINT [FK_Participantes_Torneos_TorneoId] FOREIGN KEY([TorneoId])
REFERENCES [dbo].[Torneos] ([IdTorneo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Participantes] CHECK CONSTRAINT [FK_Participantes_Torneos_TorneoId]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Arbitros_ArbitroId] FOREIGN KEY([ArbitroId])
REFERENCES [dbo].[Arbitros] ([IdArbitro])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Arbitros_ArbitroId]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Fixtures_FixtureIdFixture] FOREIGN KEY([FixtureIdFixture])
REFERENCES [dbo].[Fixtures] ([IdFixture])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Fixtures_FixtureIdFixture]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Participantes_GanadorId] FOREIGN KEY([GanadorId])
REFERENCES [dbo].[Participantes] ([IdParticipante])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Participantes_GanadorId]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Participantes_ParticipanteAId] FOREIGN KEY([ParticipanteAId])
REFERENCES [dbo].[Participantes] ([IdParticipante])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Participantes_ParticipanteAId]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Participantes_ParticipanteBId] FOREIGN KEY([ParticipanteBId])
REFERENCES [dbo].[Participantes] ([IdParticipante])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Participantes_ParticipanteBId]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Torneos_TorneoId] FOREIGN KEY([TorneoId])
REFERENCES [dbo].[Torneos] ([IdTorneo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Torneos_TorneoId]
GO
ALTER TABLE [dbo].[PlantillasEstadisticas]  WITH CHECK ADD  CONSTRAINT [FK_Plantilla_Deporte] FOREIGN KEY([IdDeporte])
REFERENCES [dbo].[Deportes] ([IdDeporte])
GO
ALTER TABLE [dbo].[PlantillasEstadisticas] CHECK CONSTRAINT [FK_Plantilla_Deporte]
GO
ALTER TABLE [dbo].[PlantillasEstadisticas]  WITH CHECK ADD  CONSTRAINT [FK_PlantillasEstadisticas_Deportes] FOREIGN KEY([IdDeporte])
REFERENCES [dbo].[Deportes] ([IdDeporte])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlantillasEstadisticas] CHECK CONSTRAINT [FK_PlantillasEstadisticas_Deportes]
GO
ALTER TABLE [dbo].[RolesPermisos]  WITH CHECK ADD FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permisos] ([IdPermiso])
GO
ALTER TABLE [dbo].[RolesPermisos]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[RolesRoles]  WITH CHECK ADD FOREIGN KEY([HijoRolId])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[RolesRoles]  WITH CHECK ADD FOREIGN KEY([PadreRolId])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Socios]  WITH CHECK ADD  CONSTRAINT [FK__Socios__IdPerson__078C1F06] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([IdPersona])
GO
ALTER TABLE [dbo].[Socios] CHECK CONSTRAINT [FK__Socios__IdPerson__078C1F06]
GO
ALTER TABLE [dbo].[Socios]  WITH CHECK ADD  CONSTRAINT [FK_Socios_Personas_IdPersona] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([IdPersona])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Socios] CHECK CONSTRAINT [FK_Socios_Personas_IdPersona]
GO
ALTER TABLE [dbo].[Socios]  WITH CHECK ADD  CONSTRAINT [FK_Socios_TiposMembresia_TipoMembresiaId] FOREIGN KEY([TipoMembresiaId])
REFERENCES [dbo].[TiposMembresia] ([IdTipo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Socios] CHECK CONSTRAINT [FK_Socios_TiposMembresia_TipoMembresiaId]
GO
ALTER TABLE [dbo].[TablasPos]  WITH CHECK ADD  CONSTRAINT [FK_TablasPos_Torneos_TorneoId] FOREIGN KEY([TorneoId])
REFERENCES [dbo].[Torneos] ([IdTorneo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TablasPos] CHECK CONSTRAINT [FK_TablasPos_Torneos_TorneoId]
GO
ALTER TABLE [dbo].[Torneos]  WITH CHECK ADD  CONSTRAINT [FK_Torneos_Deportes] FOREIGN KEY([IdDeporte])
REFERENCES [dbo].[Deportes] ([IdDeporte])
GO
ALTER TABLE [dbo].[Torneos] CHECK CONSTRAINT [FK_Torneos_Deportes]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK__Usuarios__IdPers__05A3D694] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([IdPersona])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK__Usuarios__IdPers__05A3D694]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[FacturacionArbitros]  WITH CHECK ADD  CONSTRAINT [CK_FacturacionArbitros_Estado] CHECK  (([Estado]=(3) OR [Estado]=(2) OR [Estado]=(1) OR [Estado]=(0)))
GO
ALTER TABLE [dbo].[FacturacionArbitros] CHECK CONSTRAINT [CK_FacturacionArbitros_Estado]
GO
ALTER TABLE [dbo].[Participantes]  WITH CHECK ADD  CONSTRAINT [CK_Participantes_Tipo] CHECK  (([EsEquipo]=(1) AND [EquipoId] IS NOT NULL AND [SocioId] IS NULL OR [EsEquipo]=(0) AND [SocioId] IS NOT NULL AND [EquipoId] IS NULL))
GO
ALTER TABLE [dbo].[Participantes] CHECK CONSTRAINT [CK_Participantes_Tipo]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [CK_Partidos_Resultado] CHECK  (([GanadorId] IS NOT NULL AND [EsEmpate]=(0) OR [GanadorId] IS NULL AND [EsEmpate]=(1) OR [GanadorId] IS NULL AND [EsEmpate]=(0)))
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [CK_Partidos_Resultado]
GO
ALTER TABLE [dbo].[Torneos]  WITH CHECK ADD  CONSTRAINT [CK_Torneos_TipoTorneo] CHECK  (([TipoTorneo]=(2) OR [TipoTorneo]=(1) OR [TipoTorneo]=(0)))
GO
ALTER TABLE [dbo].[Torneos] CHECK CONSTRAINT [CK_Torneos_TipoTorneo]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarTablaPosiciones]    Script Date: 08/12/2025 16:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ActualizarTablaPosiciones]
    @PartidoId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @GanadorId INT;
    DECLARE @EsEmpate BIT;
    DECLARE @ParticipanteAId INT;
    DECLARE @ParticipanteBId INT;
    DECLARE @TorneoId INT;
    DECLARE @TipoTorneo INT;
    
    -- Obtener datos del partido
    SELECT 
        @GanadorId = GanadorId,
        @EsEmpate = EsEmpate,
        @ParticipanteAId = ParticipanteAId,
        @ParticipanteBId = ParticipanteBId,
        @TorneoId = TorneoId
    FROM Partidos
    WHERE IdPartido = @PartidoId;
    
    -- Verificar que el partido tiene resultado
    IF @GanadorId IS NULL AND @EsEmpate = 0
    BEGIN
        PRINT 'El partido no tiene resultado aún. No se actualiza FilasPos.';
        RETURN;
    END
    
    -- Verificar el tipo de torneo
    SELECT @TipoTorneo = TipoTorneo
    FROM Torneos
    WHERE IdTorneo = @TorneoId;
    
    -- Solo actualizar si es un torneo tipo Liga (TipoTorneo = 0)
    -- Para eliminación directa no hay tabla de posiciones
    IF @TipoTorneo <> 0
    BEGIN
        PRINT 'Este torneo no usa tabla de posiciones. No se actualiza FilasPos.';
        RETURN;
    END
    
    -- Verificar que existe una tabla de posiciones para este torneo
    DECLARE @TablaId INT;
    SELECT @TablaId = IdTabla
    FROM TablasPos
    WHERE TorneoId = @TorneoId;
    
    IF @TablaId IS NULL
    BEGIN
        PRINT 'No existe tabla de posiciones para este torneo.';
        RETURN;
    END
    
    -- Variables para cálculo de puntos
    DECLARE @PuntosGanador INT = 3;
    DECLARE @PuntosEmpate INT = 1;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- CASO 1: Hay un ganador
        IF @GanadorId IS NOT NULL
        BEGIN
            -- Determinar quién es el perdedor
            DECLARE @PerdedorId INT;
            SET @PerdedorId = CASE 
                WHEN @GanadorId = @ParticipanteAId THEN @ParticipanteBId 
                ELSE @ParticipanteAId 
            END;
            
            -- Actualizar al ganador
            UPDATE FilasPos
            SET 
                Puntos = Puntos + @PuntosGanador,
                Jugados = Jugados + 1,
                Ganados = Ganados + 1
            WHERE ParticipanteId = @GanadorId 
              AND TablaPosicionesIdTabla = @TablaId;
            
            -- Actualizar al perdedor
            UPDATE FilasPos
            SET 
                Jugados = Jugados + 1,
                Perdidos = Perdidos + 1
            WHERE ParticipanteId = @PerdedorId 
              AND TablaPosicionesIdTabla = @TablaId;
            
            PRINT 'Tabla de posiciones actualizada: Victoria';
        END
        
        -- CASO 2: Es un empate
        ELSE IF @EsEmpate = 1
        BEGIN
            -- Actualizar ambos participantes con empate
            UPDATE FilasPos
            SET 
                Puntos = Puntos + @PuntosEmpate,
                Jugados = Jugados + 1,
                Empatados = Empatados + 1
            WHERE ParticipanteId IN (@ParticipanteAId, @ParticipanteBId)
              AND TablaPosicionesIdTabla = @TablaId;
            
            PRINT 'Tabla de posiciones actualizada: Empate';
        END
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
USE [master]
GO
