USE [master]
GO
/****** Object:  Database [ClubMaster]    Script Date: 13/07/2025 12:20:27 ******/
CREATE DATABASE [ClubMaster]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClubMaster', FILENAME = N'C:\SQLData\ClubMaster.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClubMaster_log', FILENAME = N'C:\SQLData\Logs\ClubMaster_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClubMaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClubMaster]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArbitroDeportes]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArbitroDeportes](
	[ArbitroId] [int] NOT NULL,
	[DeporteId] [int] NOT NULL,
 CONSTRAINT [PK_ArbitroDeportes] PRIMARY KEY CLUSTERED 
(
	[ArbitroId] ASC,
	[DeporteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Arbitros]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arbitros](
	[IdArbitro] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Disponibilidad] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Arbitros] PRIMARY KEY CLUSTERED 
(
	[IdArbitro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comprobantes]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobantes](
	[IdComprobante] [int] IDENTITY(1,1) NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[MontoPagado] [decimal](10, 2) NOT NULL,
	[MedioPago] [nvarchar](40) NOT NULL,
	[CuotaId] [int] NOT NULL,
	[SocioIdSocio] [int] NULL,
 CONSTRAINT [PK_Comprobantes] PRIMARY KEY CLUSTERED 
(
	[IdComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuotas]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuotas](
	[IdCuota] [int] IDENTITY(1,1) NOT NULL,
	[Mes] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Estado] [int] NOT NULL,
	[FechaVencimiento] [datetime2](7) NOT NULL,
	[FechaPago] [datetime2](7) NULL,
	[Recargo] [decimal](10, 2) NULL,
	[SocioId] [int] NOT NULL,
 CONSTRAINT [PK_Cuotas] PRIMARY KEY CLUSTERED 
(
	[IdCuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deportes]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deportes](
	[IdDeporte] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](80) NOT NULL,
	[MaxParticipantes] [int] NOT NULL,
 CONSTRAINT [PK_Deportes] PRIMARY KEY CLUSTERED 
(
	[IdDeporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilasPos]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilasPos](
	[IdFila] [int] IDENTITY(1,1) NOT NULL,
	[ParticipanteId] [int] NOT NULL,
	[Puntos] [int] NOT NULL,
	[Jugados] [int] NOT NULL,
	[Ganados] [int] NOT NULL,
	[Empatados] [int] NOT NULL,
	[Perdidos] [int] NOT NULL,
	[TablaPosicionesIdTabla] [int] NULL,
 CONSTRAINT [PK_FilasPos] PRIMARY KEY CLUSTERED 
(
	[IdFila] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fixtures]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fixtures](
	[IdFixture] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [int] NOT NULL,
	[TorneoId] [int] NOT NULL,
 CONSTRAINT [PK_Fixtures] PRIMARY KEY CLUSTERED 
(
	[IdFixture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[Evento] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participantes]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participantes](
	[IdParticipante] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[EsEquipo] [bit] NOT NULL,
	[TorneoId] [int] NOT NULL,
	[SocioId] [int] NULL,
 CONSTRAINT [PK_Participantes] PRIMARY KEY CLUSTERED 
(
	[IdParticipante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidos]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidos](
	[IdPartido] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[Estado] [int] NOT NULL,
	[ParticipanteAId] [int] NOT NULL,
	[ParticipanteBId] [int] NOT NULL,
	[ArbitroId] [int] NULL,
	[TorneoId] [int] NOT NULL,
	[FixtureIdFixture] [int] NULL,
 CONSTRAINT [PK_Partidos] PRIMARY KEY CLUSTERED 
(
	[IdPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reportes]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reportes](
	[IdReporte] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](40) NOT NULL,
	[FechaGeneracion] [datetime2](7) NOT NULL,
	[Archivo] [varbinary](max) NULL,
	[UsuarioId] [int] NOT NULL,
 CONSTRAINT [PK_Reportes] PRIMARY KEY CLUSTERED 
(
	[IdReporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resultados]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultados](
	[IdResultado] [int] IDENTITY(1,1) NOT NULL,
	[PuntosA] [int] NOT NULL,
	[PuntosB] [int] NOT NULL,
	[Observaciones] [nvarchar](250) NULL,
	[PartidoId] [int] NOT NULL,
 CONSTRAINT [PK_Resultados] PRIMARY KEY CLUSTERED 
(
	[IdResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socios]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socios](
	[IdSocio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Dni] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Estado] [int] NOT NULL,
	[TipoMembresiaId] [int] NOT NULL,
	[UsuarioId] [int] NULL,
 CONSTRAINT [PK_Socios] PRIMARY KEY CLUSTERED 
(
	[IdSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablasPos]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablasPos](
	[IdTabla] [int] IDENTITY(1,1) NOT NULL,
	[TorneoId] [int] NOT NULL,
 CONSTRAINT [PK_TablasPos] PRIMARY KEY CLUSTERED 
(
	[IdTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposMembresia]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposMembresia](
	[IdTipo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](60) NOT NULL,
	[MontoMensual] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_TiposMembresia] PRIMARY KEY CLUSTERED 
(
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneos]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneos](
	[IdTorneo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Disciplina] [nvarchar](max) NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Torneos] PRIMARY KEY CLUSTERED 
(
	[IdTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/07/2025 12:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[ContrasenaHash] [nvarchar](120) NOT NULL,
	[Rol] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ArbitroDeportes_DeporteId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_ArbitroDeportes_DeporteId] ON [dbo].[ArbitroDeportes]
(
	[DeporteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comprobantes_CuotaId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Comprobantes_CuotaId] ON [dbo].[Comprobantes]
(
	[CuotaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comprobantes_SocioIdSocio]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Comprobantes_SocioIdSocio] ON [dbo].[Comprobantes]
(
	[SocioIdSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cuotas_SocioId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Cuotas_SocioId] ON [dbo].[Cuotas]
(
	[SocioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilasPos_ParticipanteId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_FilasPos_ParticipanteId] ON [dbo].[FilasPos]
(
	[ParticipanteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilasPos_TablaPosicionesIdTabla]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_FilasPos_TablaPosicionesIdTabla] ON [dbo].[FilasPos]
(
	[TablaPosicionesIdTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fixtures_TorneoId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Fixtures_TorneoId] ON [dbo].[Fixtures]
(
	[TorneoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Logs_UsuarioId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Logs_UsuarioId] ON [dbo].[Logs]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Participantes_SocioId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Participantes_SocioId] ON [dbo].[Participantes]
(
	[SocioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Participantes_TorneoId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Participantes_TorneoId] ON [dbo].[Participantes]
(
	[TorneoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_ArbitroId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_ArbitroId] ON [dbo].[Partidos]
(
	[ArbitroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_FixtureIdFixture]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_FixtureIdFixture] ON [dbo].[Partidos]
(
	[FixtureIdFixture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_ParticipanteAId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_ParticipanteAId] ON [dbo].[Partidos]
(
	[ParticipanteAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_ParticipanteBId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_ParticipanteBId] ON [dbo].[Partidos]
(
	[ParticipanteBId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidos_TorneoId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Partidos_TorneoId] ON [dbo].[Partidos]
(
	[TorneoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reportes_UsuarioId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Reportes_UsuarioId] ON [dbo].[Reportes]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Resultados_PartidoId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Resultados_PartidoId] ON [dbo].[Resultados]
(
	[PartidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Socios_TipoMembresiaId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Socios_TipoMembresiaId] ON [dbo].[Socios]
(
	[TipoMembresiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Socios_UsuarioId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Socios_UsuarioId] ON [dbo].[Socios]
(
	[UsuarioId] ASC
)
WHERE ([UsuarioId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TablasPos_TorneoId]    Script Date: 13/07/2025 12:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_TablasPos_TorneoId] ON [dbo].[TablasPos]
(
	[TorneoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reportes] ADD  DEFAULT ((0)) FOR [UsuarioId]
GO
ALTER TABLE [dbo].[ArbitroDeportes]  WITH CHECK ADD  CONSTRAINT [FK_ArbitroDeportes_Arbitros_ArbitroId] FOREIGN KEY([ArbitroId])
REFERENCES [dbo].[Arbitros] ([IdArbitro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArbitroDeportes] CHECK CONSTRAINT [FK_ArbitroDeportes_Arbitros_ArbitroId]
GO
ALTER TABLE [dbo].[ArbitroDeportes]  WITH CHECK ADD  CONSTRAINT [FK_ArbitroDeportes_Deportes_DeporteId] FOREIGN KEY([DeporteId])
REFERENCES [dbo].[Deportes] ([IdDeporte])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArbitroDeportes] CHECK CONSTRAINT [FK_ArbitroDeportes_Deportes_DeporteId]
GO
ALTER TABLE [dbo].[Comprobantes]  WITH CHECK ADD  CONSTRAINT [FK_Comprobantes_Cuotas_CuotaId] FOREIGN KEY([CuotaId])
REFERENCES [dbo].[Cuotas] ([IdCuota])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comprobantes] CHECK CONSTRAINT [FK_Comprobantes_Cuotas_CuotaId]
GO
ALTER TABLE [dbo].[Comprobantes]  WITH CHECK ADD  CONSTRAINT [FK_Comprobantes_Socios_SocioIdSocio] FOREIGN KEY([SocioIdSocio])
REFERENCES [dbo].[Socios] ([IdSocio])
GO
ALTER TABLE [dbo].[Comprobantes] CHECK CONSTRAINT [FK_Comprobantes_Socios_SocioIdSocio]
GO
ALTER TABLE [dbo].[Cuotas]  WITH CHECK ADD  CONSTRAINT [FK_Cuotas_Socios_SocioId] FOREIGN KEY([SocioId])
REFERENCES [dbo].[Socios] ([IdSocio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cuotas] CHECK CONSTRAINT [FK_Cuotas_Socios_SocioId]
GO
ALTER TABLE [dbo].[FilasPos]  WITH CHECK ADD  CONSTRAINT [FK_FilasPos_Participantes_ParticipanteId] FOREIGN KEY([ParticipanteId])
REFERENCES [dbo].[Participantes] ([IdParticipante])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilasPos] CHECK CONSTRAINT [FK_FilasPos_Participantes_ParticipanteId]
GO
ALTER TABLE [dbo].[FilasPos]  WITH CHECK ADD  CONSTRAINT [FK_FilasPos_TablasPos_TablaPosicionesIdTabla] FOREIGN KEY([TablaPosicionesIdTabla])
REFERENCES [dbo].[TablasPos] ([IdTabla])
GO
ALTER TABLE [dbo].[FilasPos] CHECK CONSTRAINT [FK_FilasPos_TablasPos_TablaPosicionesIdTabla]
GO
ALTER TABLE [dbo].[Fixtures]  WITH CHECK ADD  CONSTRAINT [FK_Fixtures_Torneos_TorneoId] FOREIGN KEY([TorneoId])
REFERENCES [dbo].[Torneos] ([IdTorneo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fixtures] CHECK CONSTRAINT [FK_Fixtures_Torneos_TorneoId]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[Participantes]  WITH CHECK ADD  CONSTRAINT [FK_Participantes_Socios_SocioId] FOREIGN KEY([SocioId])
REFERENCES [dbo].[Socios] ([IdSocio])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Participantes] CHECK CONSTRAINT [FK_Participantes_Socios_SocioId]
GO
ALTER TABLE [dbo].[Participantes]  WITH CHECK ADD  CONSTRAINT [FK_Participantes_Torneos_TorneoId] FOREIGN KEY([TorneoId])
REFERENCES [dbo].[Torneos] ([IdTorneo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Participantes] CHECK CONSTRAINT [FK_Participantes_Torneos_TorneoId]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Arbitros_ArbitroId] FOREIGN KEY([ArbitroId])
REFERENCES [dbo].[Arbitros] ([IdArbitro])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Arbitros_ArbitroId]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Fixtures_FixtureIdFixture] FOREIGN KEY([FixtureIdFixture])
REFERENCES [dbo].[Fixtures] ([IdFixture])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Fixtures_FixtureIdFixture]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Participantes_ParticipanteAId] FOREIGN KEY([ParticipanteAId])
REFERENCES [dbo].[Participantes] ([IdParticipante])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Participantes_ParticipanteAId]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Participantes_ParticipanteBId] FOREIGN KEY([ParticipanteBId])
REFERENCES [dbo].[Participantes] ([IdParticipante])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Participantes_ParticipanteBId]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Torneos_TorneoId] FOREIGN KEY([TorneoId])
REFERENCES [dbo].[Torneos] ([IdTorneo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Torneos_TorneoId]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[Resultados]  WITH CHECK ADD  CONSTRAINT [FK_Resultados_Partidos_PartidoId] FOREIGN KEY([PartidoId])
REFERENCES [dbo].[Partidos] ([IdPartido])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resultados] CHECK CONSTRAINT [FK_Resultados_Partidos_PartidoId]
GO
ALTER TABLE [dbo].[Socios]  WITH CHECK ADD  CONSTRAINT [FK_Socios_TiposMembresia_TipoMembresiaId] FOREIGN KEY([TipoMembresiaId])
REFERENCES [dbo].[TiposMembresia] ([IdTipo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Socios] CHECK CONSTRAINT [FK_Socios_TiposMembresia_TipoMembresiaId]
GO
ALTER TABLE [dbo].[Socios]  WITH CHECK ADD  CONSTRAINT [FK_Socios_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Socios] CHECK CONSTRAINT [FK_Socios_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[TablasPos]  WITH CHECK ADD  CONSTRAINT [FK_TablasPos_Torneos_TorneoId] FOREIGN KEY([TorneoId])
REFERENCES [dbo].[Torneos] ([IdTorneo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TablasPos] CHECK CONSTRAINT [FK_TablasPos_Torneos_TorneoId]
GO
USE [master]
GO
